<section class="home-about">
    <div class="avatar">
        {{ if isset .Site.Params "avatarurl" }}
            <img style="width: 150px; height: 150px" class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Site.BaseURL }}{{ .Site.Params.AvatarURL }}'>
        {{ end }}
    </div>
    <h3>{{ .Site.Params.Description }}</h3>
</section>

<div class="flex-break"></div>

{{ $pageName := .Name }}
{{ $myBaseUrl := "blog" }}

<div class="container list-posts">
    {{ if or (eq .Name "Posts") (eq .Name "Blog pour les associations")  }}
        <div class="list-title"><h2>Tous les articles</h2></div>
    {{end}}
    <div class="list-tags-articles" style="display: flex; flex-wrap: wrap;">
        <div class="container-list-articles" style="width: 75%">
            {{ if (eq .Name "Blog pour les associations") }}
                {{ range (where .Site.Pages "Params.type" "post" ).GroupByDate "2006" }}
                    <h2 style="text-align: center">{{ .Key }}</h2>
                    <div class="container-article" style="flex-wrap: wrap">
                        {{- range .Pages  -}}
                            {{- partial "list-posts.html" . -}}
                        {{ end }}
                    </div>
                {{ end }}
            {{else}}
                {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}
                    <h2 style="text-align: center">{{ .Key }}</h2>
                    <div class="container-article" style="flex-wrap: wrap">
                        {{- range .Pages  -}}
                            {{- partial "list-posts.html" . -}}
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}
        </div>
        <div class="container-list-tags" style="width: 25%">
            <h1 style="text-align: center">Tags</h1>
            <ul class="post-tags2">
                {{ if or (eq $pageName "Posts") (eq $pageName "Blog pour les associations")  }}
                    <li class="blog-post-tag" style="background-color: #dddddd; border-radius: 20px; color: black;"><a href="{{$.Site.LanguagePrefix | absURL }}/posts">Tous</a></li>
                {{else}}
                    <li class="blog-post-tag" ><a href="{{$.Site.LanguagePrefix | absURL }}/posts">Tous</a></li>
                {{end}}

                {{ range $.Site.Taxonomies.tags.ByCount }}
                    {{ if eq $pageName .Name }}
                        <li  class="blog-post-tag" style="background-color: #dddddd; border-radius: 20px; color: black;">
                            <a class="blog-post-tag2" href="{{$.Site.LanguagePrefix | absURL }}/tags/{{ .Name | urlize }}">
                                <div class="tag-name"> {{ .Name }}</div>
                                <div class="tag-count">{{.Count}}</div>
                            </a>
                        </li>
                    {{ else }}
                        <li  class="blog-post-tag" >
                            <a class="blog-post-tag2" href="{{$.Site.LanguagePrefix | absURL }}/tags/{{ .Name | urlize }}">
                                <div class="tag-name"> {{ .Name }}</div>
                                <div class="tag-count">{{.Count}}</div>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>

    </div>
</div>
