<article class="post-title">
    {{ $myURLPage := .Permalink }}
    <div>
        {{ with .Resources }}
        {{ end }}
    </div>
    <div>
        {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
        {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p><i>Publié le {{ .Date | time.Format ":date_long"}}&nbsp par &nbsp{{- partial "author.html" . -}}</i></p>
        <div style="align-content: center">
            <p style="color: #838383"> <i>{{ slicestr .Summary 0 30 }}...</i></p>
            <a href="{{ .RelPermalink }}">Lire la suite</a>
        </div>
    </div>
</article>
