<div class="post container">
    {{- partial "breadcrumbs.html" . -}}
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
            <i>Publié le {{ .Date | time.Format ":date_long"}}&nbsp par &nbsp{{- partial "author.html" . -}}</i>
        </p>
        {{ partial "reading-time.html" . }}
        <ul class="post-tags">
        {{ range .Params.tags }}
           <li class="post-tag"><a href="{{$.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}">#{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>
    <div class="post-content">
        {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
        {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
        <p>
            {{ .Content }}
        </p>
    </div>
    <div class="div-blog-pager">
        <ul class="pager blog-pager" >

            <li class="previous">
                {{ if .PrevInSection }}
                    {{if gt (len .PrevInSection.Title) 45 }}
                        <a class="button-pager" href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&#8249;&#8249; {{ i18n "previousPost" }} {{ slicestr .PrevInSection.Title 0 30 }}...</a>
                    {{ else }}
                        <a class="button-pager" href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&#8249;&#8249; {{ i18n "previousPost" }} {{ .PrevInSection.Title }}</a>
                    {{ end }}
                {{ end }}
            </li>


            <li class="next">
                {{ if .NextInSection }}
                    {{ if gt (len .NextInSection.Title) 45 }}
                        <a class="button-pager" href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
                            {{ i18n "nextPost" }}
                            {{ slicestr .NextInSection.Title 0 30 }}... &#8250;&#8250;
                        </a>
                    {{ else }}
                        <a class="button-pager" href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
                            {{ i18n "nextPost" }}
                            {{ .NextInSection.Title }}... &#8250;&#8250;
                        </a>
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    </div>
</div>

